@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy light";
  src: url("../fonts/gilroylight.woff2") format("woff2");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans light";
  src: url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: lighter;
  font-style: normal;
}

html {
  box-sizing: border-box;  /* чтобы при width: 100%; не вываливались из блока padding'и margin'ы */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);

  white-space: nowrap; /* Пробелы не учитываются, переносы строк в коде HTML игнорируются, весь текст отображается одной строкой;*/
}

.transparent-field {
  color: transparent;

  background-color: transparent;
  border: none;
}

/*              HEADER           */

.logo {
  margin-top: 21px;
  margin-left: 60px;
}

.logo-image:hover,
.logo-image:focus {
  opacity: 0.6;
}

.logo-image:active {
  opacity: 0.3;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -16px; /* не получается "наезжанеи" логотипа на желтый фон */

  padding-top: 51px;

  width: 1160px;
  min-height: 299px;
  margin-right: auto;
  margin-left: auto;

  background-color: #f7e296;
}

/* ПОИСК ПО САЙТУ / ВОЙТИ / СРАВНИТЬ /КОРЗИНА  */

.top-nav {
  display: flex;
  justify-content: space-between;

  margin-bottom: 50px;

  width: 1160px;
  height-min: 17px;
}

.search-field {
  width: 144px;
}

.search-label::before {
  content: "";
  display: inline-block;

  width: 17px;
  height: 17px;
  margin-left: 63px; /* не получается сместить вправо*/

  background: url("../img/icon_search.svg") no-repeat;
  background-size: 17px 17px;
  background-repeat: no-repeat;
}

.search-label {
  color: rgba(0, 0, 0, 0.3);
}

.search-label:hover {
  color: rgba(0, 0, 0, 0.6);
}

.search-label:focus,
.search-label:active {
  color: rgba(0, 0, 0, 1);
}

.search-input,
.search-input:visited {
  padding-left: 36px;

  font-family: "OpenSans light";
  font-size: 15px;
  line-height: 30px;
  color: rgba(256, 256, 256, 0.3);

  border: none;
  background: url("../img/icon_search.svg") no-repeat;
}

.search-input:focus + .search-button {
  color: #000000;

  border: 2px solid #000000;
  background-color: transparent;
}

.search-input:focus + .search-button:hover,
.search-input:focus + .search-button:focus {
  color: #ffffff;

  border: 2px solid #000000;
  background-color: #000000;
}

.search-input:focus + .search-button:active { /* ? не понимаю, в чем ошибка, почему отображается некорректно*/
  color: rgba(256, 256, 256, 0.3);

  border: 2px solid #000000;
  background-color: #000000;
}

.top-nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  font-family: "OpenSans light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.nav-link.compare {
  margin-left: 218px;
}

.nav-link.cart {
  margin-right: 61px;
  margin-left: 41px;
}

.user::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 12px;
  margin-right: 14px;
  margin-left: auto;

  background-size: 13px 12px;
  background: url("../img/icon_user.svg") no-repeat;
}

.compare::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 12px;
  margin-right: 10px;

  background-size: 10px 12px;
  background: url("../img/icon_compare.svg") no-repeat;
}

.cart::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 12px;

  background-size: 12px 12px;
  background: url("../img/icon_cart.svg") no-repeat;
}

/* КАТАЛОГ ТОВАРОВ / ДОСТАВКА / ГАРАНТИЯ / КОНТАКТЫ  */

.main-nav-list {
  display: flex;
  justify-content: space-between;
}

.main-nav-item:nth-child(2) { /* ДОСТАВКА */
  margin-left: auto;
}

.main-nav-item:nth-child(3) { /* ГАРАНТИЯ */
  margin-right: 114px;
  margin-left: 38px;
}

.main-nav-list:last-child { /* КОНТАКТЫ */
    margin-right: 61px; /* почему не работает .main-nav-item:nth-child(4) */
}

.nav-link,
.main-nav-link {
    color: #000000;
}

.main-nav-link{
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 3.6px;
}

.nav-link:hover,
.main-nav-link:hover {
  opacity: 0.6;
}

.nav-link:focus,
.main-nav-link:focus  {
  opacity: 0.3;
}

.catalog-link::after {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url("../img/icon_plus.svg") no-repeat;
  background-size: 17px 17px;
  background-repeat: no-repeat;
  opacity: 0.3;
}

/*       M A I N       */
.logo {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
    padding-left: 60px;
}
.logo-link {

}

.main-wrapper {
  display: flex;
  flex-direction: column;
}

/* <SECTION CLASS="SLIDER-PROMO"> - БЛОК СО СЛАЙДЕРОМ - тоже флексбокс, состоящий из 3х слайдеров, каждый из которых состоит из 2х частей */

.slaider-promo {
  display: flex;
}

.slider-page-1,
.slider-page-2,
.slider-page-3 {
  display: flex;
  justify-content: space-between; /* получилось неодинаковое расстояние между элементами */

  z-index: 1000; /* номер страницы уползает под фон хэдера */
  width: 1160px;

  margin-right: auto;
  margin-left: auto;
}

.slider-description-wrapper {
  width: 560px;
}

.page-number {
  color: #aaffff; /*Цвет пока такой, чтобы на белом фоне виднол было до того, как правильно спозиционирую*/
  font-family: "Gilroy";
  font-size: 179.2px;
  lein-height: 179.2px;
}

.slider-slogan {
  font-family: "Gilroy";
  font-size: 47px;
  line-height: 56px;
}

.slider-info {
  font-family: "OpenSans light";
  font-size: 15px;
  line-height: 30px;
}

.description-parameter {
  color: #464646;
  font-family: "OpenSans light";
  font-size: 13px;
  line-height: 20px;
}

.description-value {
  font-family: "Gilroy light";
  font-size: 36px;
  line-height: 48px;
}

.button { /*Базовый стиль для ссылок и кнопок "ПОДРОБНЕЕ", "ДОСТАВКА-ГАРАНТИЯ-КРЕДИТ", "ПОДРОБНЕЕ О НАС", "НАПИШИТЕ НАМ"*/
  color: #000000;
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  vertical-align: middle; /*  не получается выровнить по вертикали*/
}

.button-details { /* Для "ПОДРОБНЕЕ" */
  display: block;

  width: 220px;
  height: 40px; /*? Почему не отбражается фон в состоянии покоя*/

  text-align: center;
  padding-top: 8px; /*vertical-align: middle; ? Почему не выравнивается по вертикали*/

  border: none;
  background-image: url("../img/button-details-background.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.button-details:hover,
.button-details:focus {
  height: 40px;
  background-color: #f0c52e;
  }

.button-details:active {
  height: 40px;
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}

 /*РАДИО-КНОПКИ СЛАЙДЕРА*/

.promo-label::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;

  opacity: 1;
  background: url("../img/icon_radio-off.svg") no-repeat;
  background-size: 12px 12px;
  background-repeat: no-repeat;
}

.promo-label:active:before { /* косячит!!! */
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../img/icon_radio-on.svg") no-repeat;
  background-size: 12px 12px;
  background-repeat: no-repeat;
}

 /* <SECTION CLASS="OFFERS"> - ССЫЛКИ НА РАЗДЕЛЫ КАТАЛОГА НА ГЛАВНОЙ СТРАНИЦЕ*/

.offers-list {
  display: flex;
  justify-content: space-around;

  width: 1160px;
  margin-right: auto;
  margin-bottom: 185px;
  margin-left: auto;
}

.offers-link {
  display: inline-block;
  width: 160px;
  height: 160px;

  background-color: #f7e296;
}

.offers-link:hover,
.offers-link:focus {
background-color: #f0c52e;
}

.offers-link:active {
  opacity: 0.3;
  background-color: #f0c52e; /* не получается оставить фон нужного цвета, а изображение сделать полупрозрачным, применяя свойства, а не ссылку на другое изображение */
}

.offers-image { /*КАРТИНКИ С ЛОГОТИПАМИ РАЗДЕЛОВ КАТАЛОГА НА ГЛАВНОЙ СТРАНИЦЕ*/
  display: block;
  background-position: 50% 50%;; /* не получается, наверно потому что <img> в html'е указан*/
}

.offers-title { /*ПОДПИСИ ПОД КАРТИНКАМИ С ЛОГОТИПАМИ РАЗДЕЛОВ КАТАЛОГА НА ГЛАВНОЙ СТРАНИЦЕ*/
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
}

/* <SECTION CLASS="SLIDER-SERVICES"> - БЛОК "ДОСТАВКА-ГАРАНТИЯ-КРЕДИТ" */

.slider-services {
  width: 100%;
  min-height: 288px;
  background-color: #e5e5e5;  /*? как сделать правильный размер фона  height: 288px; ?*/
}

.slider-services-wrapper {
  display: flex;

  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.services-buttons {
  width: 284px;
  min-height: 319px;
  margin-top: -30px;
  border: 1px solid tomato;  /* временно */
}

.button-services {  /*Как сделать правильный размер фона для инпутов "ДОСТАВКА-ГАРАНТИЯ-КРЕДИТ" */
  display: block;
  z-index: 110;

  width: 160px;
  height: 40px;
  margin-bottom: 32px;

  text-align: center;
  margin-top: 9px;
  padding-top: 7px; /*vertical-align: middle; не выравнивает (((( */

  background-image: url("../img/service-button-background.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  border: 1px solid green; /* временно */

}

.button-services:hover,
.button-services:focus { /*Отображается некорректно*/
  z-index: 120;

  height: 40px;

  background-color: #f0c52e;
}

.button-services:active {
  width: 277px;
  height: 40px;
  z-index: 130;

  color: #f7e184;
  background-image: none;
  background-color: #000000;

}

.services-buttons.button-services:active {
  background-image: url("../img/button-services-background.svg");
}

.services-list {
  min-height: 319px;
  margin-top: -30px;
}

.services-title { /* ЗАГОЛОВОК "ДОСТАВКА/ГАРАНТИЯ/КРЕДИТ" */
  margin: 0;

  font-family: "Gilroy";
  font-size: 47px;
  line-height: 48px;
}

.services-description { /*ОПИСАНИЕ УСЛУГИ "ДОСТАВКА/ГАРАНТИЯ/КРЕДИТ"*/
  color: #464646;
  font-family: "OpenSans light";
  font-size: 15px;
  line-height: 30px;
}

.services-item {
  display: flex;
  justify-content: space-between;
  border: 2px solid blue; /* временно */
}

.servises-wrapper {
  align-items: flex-start;
  width: 620px;
  border: 1px solid orange; /* временно */
}

.delivery::after {
  content: "";
  display: inline-block;

  width: 130px;
  height: 160px;
  margin-right: 66px;

  background: url("../img/icon_delivery.svg") no-repeat;
  background-size: 130px 160px;
  background-repeat: no-repeat;
}

.warranty::after {
  content: "";
  display: block;

  width: 175px;
  height: 195px;
  margin-right: 47px;

  background: url("../img/icon_warranty.svg") no-repeat;
  background-size: 130px 160px;
  background-repeat: no-repeat;
}

.credit::after {
  content: "";
  display: block;
  width: 155px;
  height: 185px;
  margin-right: 70px;
  background: url("../img/icon_credit.svg") no-repeat;
  background-size: 155px 185px;
  background-repeat: no-repeat;
}

/* <SECTION CLASS="PARTNERS">  - БЛОК С ЛОГОТИПАМИ ПАРТНЕРОВ */

.partners-list {
  display: flex;
  justify-content: space-around; /* пока примерно */


  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.partner-link {
  display: block;

  width :260px;
  min-height: 100px;
  margin: 0;
  padding:0;

  border: 1px solid grey; /* временно, чтобы видеть границы */
}


.dji:hover,
.dji:focus {
  background-image: url("../img/index_logo_1_active.png");
}

.sp-adgets:hover,
.sp-adgets:focus {
  background-image: url("../img/index_logo_2_active.png");
}

.gopro:hover,
.gopro:focus {
  background-image: url("../img/index_logo_3_active.png");
}

.vive:hover,
.vive:focus {
  background-image: url("../img/index_logo_4_active.png");
}

/* <SECTION CLASS="WE"> БЛОК "О НАС" И "КОНТАКТЫ" */

.we {
  display: flex;
  justify-content: space-between;

  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.we.about-us {
  width: 560px;
}

.we-title {
  font-family: "Gilroy";
  font-size: 47px;
  line-height: 48px;
}

.we-details {
  font-family: "OpenSans light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.delivery-partner {   /*Примерные значения, точные не могу получить из макета*/
  font-family: "Gilroy";
  font-size: 20px;
  line-height: 40px;
}

.delivery-partner::before {
  content: "";
  display: inline-block;
  margin-right: 25px;
  vertical-align: middle;

  opacity: 0.3;

  width: 8px;
  height: 8px;
  background: url("../img/icon_radio-off.svg") no-repeat;
  background-size: 8px 8px;
  background-repeat: no-repeat;
}

.details-button {
  display: block;

  width: 260px;

  text-align: center;

  background-image: url("../img/button-details-background.png");
  background-size: 260px 8px;
  background-repeat: repeat-x;
  background-position: center;

}

.details-button:hover,
.details-button:focus {
  background-color: #f0c52e;
  background-size: 260px 40px;
}

.details-button:active {
  color: rgba(0, 0, 0, 0.3);
}

/*сделать черную черту сверху ЧЕРЕЗ ПСЕВДОЭЛЕМЕНТЫ width: 80px; height: 7px;*/

.we.contacts {
  width: 560px;
}

/*СТИЛИ ДЛЯ ФУТЕРА*/

.footer {
  margin: 0;
  padding: 0;

  color: #ffffff;

  background-color: #464646;
}


.logo-footer:hover,
.logo-footer:focus {
  opacity: 0.6;
}

.logo-footer:active {
  opacity: 0.3;
}

.footer-link {
  color: #ffffff;
}


.footer-nav-list a:hover,
.footer-nav-list a:hover {
  opacity: 0.6;
}

.footer-nav-list a:focus,
.footer-nav-list a:focus  {
  opacity: 0.3;
}


.user-footer::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 12px;
  margin-right: 14px;

  background-size: 13px 12px;
  background: url("../img/icon_user.svg") no-repeat;
  fill: #ffffff; /*Не получается изменить цвет заливки*/
}

.compare-footer::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 12px;
  margin-right: 10px;

  background-size: 10px 12px;
  background: url("../img/icon_compare.svg") no-repeat;
}

.cart-footer::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 12px;

  background-size: 12px 12px;
  background: url("../img/icon_cart.svg") no-repeat;
}

.developer-logo {
  display: block;
  width: 27px;
  height: 35px;

  background: url("../img/icon_logo-html.svg") no-repeat;
}

.developer-logo:hover,
.developer-logo:focus {
  opacity: 0.6;
}

.developer-logo:active {
  opacity: 0.3;
}

/* ПОПАП С ФОРМОЙ ОБРАТНОЙ СВЯЗИ*/

.feedback-modal {
  background-color:#ffffff;
}

.feedback-label {
  color: #000000;
  font-family:  "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.clients-data,
.clients-message {
  display: block;

  color: #464646;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;

  border: none;
  background-color: #f2f2f2;
  opacity: 0.5;
}

.clients-data:hover,
.clients-data:active,
.clients-message:hover,
.clients-message:active {
  border: none;
  background-color: #f2f2f2;
  opacity: 0.8;
}

.clients-data:active,
.clients-message:active {
  background-color: #ffffff;
  border: 3px solid #f7e296; /* почему проступает серая рамка?*/
}

/* как сделать селектор для невалидных значений? */

.clients-data {
  width: 360px;
  height: 50px;
}

.clients-message {
  width: 760px;
  height: 156px;
}

.modal-close {
  display: block;
  width: 55px;
  height: 55px;
  z-index: 100;

  background-image: url("../img/icon_modal-close.svg") ;
  background-size: 55px 55px;
}

.modal-send { /* Для "ОТПРАВИТЬ" */
  display: block;
  width: 200px;
  /*height: 40px; ? Почему не меняется высота фона в состоянии покоя*/

  text-align: center;
  vertical-align: middle; /*? Почему не выравнивается по вертикали*/

  border: none;
  background-color: #f0c52e;
  background-size: 220px 8px;
}

.modal-send:hover,
.modal-send:focus {
  height: : 40px;
  background-size: 220px 40px;
}

.modal-send:active {
  opacity: 0.3;
}

/*СТИЛИ ДЛЯ СТРАНИЦЫ КАТАЛОГА*/

/* catalog.tnml  <header> */

.nav-link-exit {
  font-family: "OpenSans light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;

  color: rgba(0, 0, 0, 0.3);
}

.nav-link-exit:hover,
.nav-link-exit:focus {
  color: rgba(0, 0, 0, 0.7);
}

.nav-link-exit:active {
  color: rgba(0, 0, 0, 1);
}

.products-block {
  display: inline-block;
}

.product-groups-link{
  color: rgba(0, 0, 0, 1);
  font-family: "OpenSans light", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: normal;
  text-transform: none;
}

.product-groups-link:hover,
.product-groups-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.product-groups-link:active {
  color: rgba(0, 0, 0, 0.3);
}

/* catalog.html <main> */

.monopods-h1 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs-link {
  /*
  display: inline-block;  в линию так не отображаются
  */

  color: rgba(0, 0, 0, 0.3);
  font-family: "OpenSans light", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-link:active {
    color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-item:nth-child(1)::after,
.breadcrumbs-item:nth-child(2)::after {
  content: "";

  /* пока не получается спозиционировать*/
  display: block;
  width: 4px;
  height: 7px;

  margin-left: 16px;

  background-size: cover;
  background: url("../img/icon_nav-arrow.svg") no-repeat;
}

.filter-title {
  /* display: block; width: 468px;  height: 70px;  */
  /* padding-links: 200px; не смещается */

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  background-color: #dbdbdb;
}

.filter-form {
  border: 2px solid #F1DA64; /* временно, чобы видеть границы*/
  /*display: block; width: 468px; height: 1217px;*/
  background-color: #eeeeee;
}

.filter-subtitle {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.bar-grey {
  position: relative;
  z-index: 200;

  width: 197px;
  height: 2px;
  background-color: #dbdbdb;
}

.bar-green {
  position: relative;
  z-index: 201;

  margin-top: -2px;
  width: 115px;
  height: 2px;
  background-color: #91c92f;
}

.range-min,
.range-max {
  /*спозиционировать кружочки*/
  display: block;
  position: absolute; /*top left*/
  z-index:800;

  width: 20px;
  height: 22px;

  background-image: url("../img/icon_filter-button.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.range-min-label,
.range-max-label,
.range-min-input,
.range-max-input  {
  font-family: "Gilroy light", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2); /* цвет шрифа не применяется к placeholder*/
}

.range-min-input,
.range-max-input { } /* позиционирование пока не задано*/

.filter-fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.color-choice,
.bluetooth-choice {
  display: block;

  font-family: "OpenSans light", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
}

.color-checkbox {
  margin-right: 15px; /*пока примерно*/
}

.color-checkbox::before {
  content: "";
  display: block;

  width: 23px;
  height: 23px;
  margin-left: 0px;

  background-size: cover;
  background: url("../img/icon_checkbox-off.svg") no-repeat;
}

.color-checkbox:active::before {
/* в таком виде не работает. как правильно указать селектор?*/
  content: "";

  width: 26px;
  height: 23px;
  margin-left: 0px;

  background-size: cover;
  background: url("../img/icon_checkbox-on.svg") no-repeat;
}

.bluetooth-radio {
    margin-right: 15px; /*пока примерно*/
}

.bluetooth-radio::before {
  content: "";
  display: block;

  width: 25px;
  height: 25px;
  margin-left: 0px;

  background-size: 25px 25px;
  background: url("../img/icon_radio-off.svg") no-repeat;
}

.bluetooth-radio::before:active {
 /* как правильно указать селектор?*/
  background: url("../img/icon_radio-on.svg") no-repeat;
  }

.products-sorting {  /* <section class="products-sorting"> */
border: 2px solid #000000; /* временно, чтобы видеть границы*/
/*  width: 1440px;
  height: 70px;
  padding-links: 72px; /*не смещается*/ */

  background-color: #ebebeb;
  }

.sorting-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  background-color: #ebebeb;
  }

.sorting-link {
  display: inline-block;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);

  background-color: transparent;
}

.sorting-link:hover,
.sorting-link:focus {
    color: rgba(0, 0, 0, 0.6);
}

.sorting-link:active {
   color: rgba(0, 0, 0, 1);
}

.arrow-up,  /*не отображаются*/
.arrow-down {
  display: inline-block;
  z-index: 300;

  width: 11px;
  height: 10px;
  background-size: cover;

  color: rgba(0, 0, 0, 0.2); /* как изменить цвет cvg-иконки (к чему применить fill)*/
}

.arrow-up {
    background-image: url("../img/icon_up-dir.svg");
}

.arrow-down {
    background-image: url("../img/icon_down-dir.svg");
}

.arrow-up:hover,
.arrow-down:hover {
  color: rgba(0, 0, 0, 0.4);
}

.arrow-up:active {
  color: rgba(0, 0, 0, 1);
}

/* .catalog {
  display: block;
  width: 973px;
  height: 1220px;

  background-color: transparent;
} */

.catalog-img {
  width: 360px;
  height: 380px;

  border: 2px solid orange; /* временно, чтобы видеть границы*/
}


.item-link {
  color: #000000;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.catalog-price {
  display: inline-block;
  color: #000000;
  font-family: "Gilroy light", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
/* .catalog-item-new {
  display: block;
  z-index: 800;

  width: 60px;
  height: 60px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);


  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
} */

.pagination-list {
  background-color: #ebebeb;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.back-forward  {
  color: rgba(0,0,0, 1);
}
/* .back-forward { } как отформатировать предыдущее и следующее наведение?*/

.nav-page {
  color: rgba(0,0,0, 0.3);
}

.nav-page:hover,
.nav-page:focus {
  color: rgba(0,0,0, 0.6);
}

.nav-page: {
  color: rgba(0,0,0, 1);
}



/*ФУТЕР СТРАНИЦЫ КАТАЛОГА: стили совпадают с главной страницей*/

/* .main-footer {
  display: block;
} */
