@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy light";
  src: url("../fonts/gilroylight.woff2") format("woff2");
  /* font-weight: lighter; */
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans light";
  src: url("../fonts/opensanslight.woff2") format("woff2");
  /* font-weight: lighter; */
  font-style: normal;
}

html {
  box-sizing: border-box;  /* чтобы при width: 100%; не вываливались из блока padding'и margin'ы */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px -1px;
  border: 0;
  padding: 0;

  white-space: nowrap; /* Пробелы не учитываются, переносы строк в коде HTML игнорируются, весь текст отображается одной строкой;*/

  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  overflow: hidden;
}

.transparent-field {
  color: transparent;

  background-color: transparent;
  border: none;
}

.container {
  position: relative;

  width: 1160px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  /*border: 1px solid #FF1493;  временно */
  padding: 0;
}

/*              HEADER           */

.logo-link {
  position: relative;
  display: block; /* нужно ли это свойство, учитывая что position: relative; */
  top: 15px;
  /* z-index: 2; */

  /* margin-top: 9px; */
  margin-bottom: 0px;
  margin-left: 60px;
  padding: 0;
}

.logo-image:hover,
.logo-image:focus {
  opacity: 0.6;
}

.logo-image:active {
  opacity: 0.3;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  /* position: relative; */

  min-height: 298px;
  margin-top: -15px; /*roughly*/
  padding-right: 60px;
  padding-top: 51px;
  padding-left: 60px;

  background-color: #f7e296;
}

/* ПОИСК по САЙТУ + ВОЙТИ СРАВНИТЬ КОРЗИНА  */

.top-nav {
  display: flex;
  justify-content: space-between;

  width: 1040px;
  margin-bottom: 50px;
  /* border: 1px solid grey; */
}

.search-form {
  position: relative;
}

.search-field { /* ПОИСК по САЙТУ */
  display: block;


  width: 355px;
  min-height: 15px;

  border: 5px solid blue;
}

.search-input { /*, .search-input:visited*/
  width: 355px;
  padding-left: 37px;

  border: none;
  font-family: "OpenSans light";
  font-size: 15px;
  line-height: 30px;

  background-color: transparent;
  background-image: url("../img/icon_search.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.search-input::-webkit-input-placeholder
 {
   color: rgba(0, 0, 0, 0.3);
}

.search-input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 1);
}

.search-input:focus,
.search-input:active {
  outline: none;
}

.search-button {
  position: absolute;
  top: -7px;
  display: inline-block;

  width:85px;
  height: 49px;
  padding: 0px 0px;

  color: transparent;
  background-color: transparent;
}

.search-input:focus + .search-button {
  color: #000000;
  border: 2px solid #000000;
  background-color: transparent;
}

.search-input:focus + .search-button::before {/*?20 окт: не получается*/
  content: "";
  position: absolute;
  bottom: -3px;
  left: 300;
  display: inline-block;

  width: 350px;
  height: 2px;

  border: 2px solid #000000;
}

.search-input:focus + .search-button:hover,
.search-input:focus + .search-button:focus {
  color: #ffffff;
  background-color: #000000;
}

.search-input:active + .search-button:active { /*?20 окт: при нажатии стили исчезают*/
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.top-nav-list { /* ВОЙТИ СРАВНИТЬ КОРЗИНА */
  display: flex;
  justify-content: space-between;
}

.nav-link {
  font-family: "OpenSans light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.nav-link.compare {
  margin-left: 200px;
}

.nav-link.cart {
  margin-left: 41px;
}

.user::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 12px;
  margin-right: 14px;
  margin-left: auto;

  background-size: 13px 12px;
  background: url("../img/icon_user.svg") no-repeat;
}

.compare::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 12px;
  margin-right: 10px;

  background-size: 10px 12px;
  background: url("../img/icon_compare.svg") no-repeat;
}

.cart::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 12px;

  background-size: 12px 12px;
  background: url("../img/icon_cart.svg") no-repeat;
}

/* КАТАЛОГ ТОВАРОВ / ДОСТАВКА / ГАРАНТИЯ / КОНТАКТЫ  */

.main-nav-list {
  position: relative;
  display: flex;
  justify-content: space-between;

  /*border: 1px solid grey;  временно */
}

.plus::after {
  content: " ";
  display: inline-block;

  width: 17px;
  height: 17px;
  margin-left: 12px; /*примерно*/
  vertical-align: middle; /* ! по вертикали position:absolute, top-left*/
  background-image: url(../img/icon_plus.svg);
  opacity: 0.3;

}

.main-nav-item:nth-child(2) { /* nth-child ДОСТАВКА */
  margin-left: auto;
}

.main-nav-item:nth-child(3) { /* nth-child ГАРАНТИЯ */
  margin-right: 114px;
  margin-left: 38px;
}

.main-nav-list:last-child { /* nth-child КОНТАКТЫ */
}

.nav-link,
.main-nav-link {
    color: #000000;
}

.main-nav-link{
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 3.6px;
}

.nav-link:hover,
.main-nav-link:hover {
  opacity: 0.6;
}

.nav-link:focus,
.main-nav-link:focus  {
  opacity: 0.3;
}

/*       M A I N       */

/* <SECTION CLASS="SLIDER-PROMO"> - БЛОК СО СЛАЙДЕРОМ - тоже флексбокс, состоящий из 3х слайдеров, каждый из которых состоит из 2х частей */

.slider-page-1,
.slider-page-2,
.slider-page-3 {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-around; /* получилось неодинаковое расстояние между элементами */
  flex-wrap: wrap;


  width: 100%; /* 1160px; */
  min-height: 500px;

  margin-top: -109px;
  margin-right: auto;
  margin-left: auto;
}

.slider-page-1{
  /* border: 3px dashed #ADFF2F; */
}

.slider-page-2{
  border: 3px dashed gold;
  display: none;
}

.slider-page-3{
  border: 3px dashed #00BFFF;
  display: none;
}

.slider-page-1::before { /*? 20 окт: почему размеры содержимого у ""01 отличаются от заданных*/
  content: "01";
  display: block;
  position: absolute;
  top: -13px;
  right: 60px; /*примерно*/
  z-index: 4;
  order: 2;

  margin: 0;
  padding: 0;

  color: #ffffff;
  font-family: "Gilroy";
  font-size: 179.2px;
  line-height: 179.2px;

  text-align: right;
  /* border: 1px solid grey; */
}

.slider-page-2::before {
  content: "02";
  display: block;
  position: relative;
  z-index: 4;
  order: 2;
  position: relative;
  top: -565px;

  margin-top: 60px;
  padding-left: 900px; /*примерно*/

  color: #ffffff;
  font-family: "Gilroy";
  font-size: 179.2px;
  line-height: 179.2px;

  color: grey;
  text-align: right;
}

.slider-page-3::before {
  content: "03";
  display: block;
  position: relative;
  z-index: 4;
  order: 2;
  position: relative;
  top: -565px;

  margin-top: 60px;
  padding-left: 900px; /*примерно*/

  color: #ffffff;
  font-family: "Gilroy";
  font-size: 179.2px;
  line-height: 179.2px;

  color: grey;
  text-align: right;
}

 .slider-image {
/*border: 1px solid grey;*/
}

.slider-description-wrapper {
  width: 560px;
}

.slider-slogan {
  position: relative;
  z-index: 5;

  padding-top: 73px;

  font-family: "Gilroy";
  font-size: 47px;
  line-height: 56px;
}

.slider-slogan::before {
  content: " ";
  display: block;
  position: absolute;
  top: 30px; /*примерно*/
  left: 0px;

  width: 100px;
  height: 7px;

  border-bottom: 7px solid #ffffff;
}

.slider-info {
  padding-top: 17px;
  font-family: "OpenSans light";
  font-size: 15px;
  line-height: 30px;
}

/* Кнопка ПОДРОБНЕЕ и радио-кнопки */

.details {
  display: flex;

  margin-top: 50px; /* примерно */
  margin-bottom: 50px; /* примерно */
}

.button { /*Базовый стиль для ссылок и кнопок "ПОДРОБНЕЕ", "ДОСТАВКА-ГАРАНТИЯ-КРЕДИТ", "ПОДРОБНЕЕ О НАС", "НАПИШИТЕ НАМ"*/
  color: #000000;
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;
}


.button-details::before { /*? 20 окт: не получается сделать фон через z-index*/
  content: " ";
  display: block;
  position: absolute;
  bottom: 16px;
  z-index: 1;

  width: 220px;
  height: 8px;
  background-color: #f0c52e;
}

.button-details { /* Для "ПОДРОБНЕЕ" */
  display: block;
  position: relative;
  z-index: 2;

  width: 220px;
  height: 40px;
  margin-right: 180px;

  padding-top: 8px; /*! Изменить фон на псевдоэлемент  */
}

.button-details:hover,
.button-details:focus {
  height: 40px;
  background-color: #f0c52e;
  }

.button-details:active {
  height: 40px;
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}

 /*РАДИО-КНОПКИ СЛАЙДЕРА*/

.promo-label::before {
  content: "";
  display: inline-block;

  width: 12px;
  height: 12px;
  margin-right: 10px;
  margin-left: 10px;

  opacity: 1;
  background-image: url("../img/icon_radio-off.svg");
  background-size: 12px 12px;
  background-repeat: no-repeat;
}

.promo-button:checked + label::before {
    background-image: url("../img/icon_radio-on.svg");
}

/* Таблица с характеристиками */

.item-parameters {
  /* border: 1px dashed grey; */
}

.description-parameter {
  color: #464646;
  font-family: "OpenSans light";
  font-size: 13px;
  line-height: 20px;
}

.description-parameter:nth-child(1) {
  width: 160px;
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 15px; /*пока примерно*/
  padding-left: 0;
}

.description-parameter:nth-child(2) {
  width: 140px;
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 15px; /*пока примерно*/
  padding-left: 0;
}

.description-parameter:nth-child(3) {
  width: 160px;
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 15px; /*пока примерно*/
  padding-left: 0;
}


.description-value {
  font-family: "Gilroy light";
  font-size: 36px;
  line-height: 48px;
}


 /* <SECTION CLASS="OFFERS"> - ССЫЛКИ НА РАЗДЕЛЫ КАТАЛОГА НА ГЛАВНОЙ СТРАНИЦЕ*/

.offers-list {
  display: flex;
  justify-content: space-between;

  width: 100%;  /* 1160px; */
  margin-top: 110px; /*примерно*/
  margin-right: auto;
  margin-bottom: 185px;
  margin-left: auto;
}

.offers-link {
  display: inline-block;
  width: 160px;
  height: 160px;

  background-color: #f7e296;
}

.offers-link:hover,
.offers-link:focus {
background-color: #f0c52e;
}

.offers-link:active {
  opacity: 0.3;
  background-color: #f0c52e; /* не получается оставить фон нужного цвета, а изображение сделать полупрозрачным, применяя свойства, а не ссылку на другое изображение */
}

.offers-image { /*КАРТИНКИ С ЛОГОТИПАМИ РАЗДЕЛОВ КАТАЛОГА НА ГЛАВНОЙ СТРАНИЦЕ*/
  display: block;
  position: relative;

  margin-right: auto;
  margin-left: auto;
}

.offers-item:nth-child(1) > .offers-link > .offers-image {
  margin-top: 51px;
}

.offers-item:nth-child(2) > .offers-link > .offers-image {
  margin-top: 42px;
}

.offers-item:nth-child(3) > .offers-link > .offers-image {
  margin-top: 38px;
}

.offers-item:nth-child(4) > .offers-link > .offers-image {
  margin-top: 49px;
}

.offers-item:nth-child(5) > .offers-link > .offers-image {
  margin-top: 32px;
}

.offers-item:nth-child(6) > .offers-link > .offers-image {
  margin-top: 47px;
}

.offers-title { /*ПОДПИСИ ПОД КАРТИНКАМИ С ЛОГОТИПАМИ РАЗДЕЛОВ КАТАЛОГА НА ГЛАВНОЙ СТРАНИЦЕ*/
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
}

/* <SECTION CLASS="SLIDER-SERVICES"> - БЛОК "ДОСТАВКА-ГАРАНТИЯ-КРЕДИТ" */

.slider-services { /* задает серый фон по всей ширине экрана*/
  width: 100%;
  min-height: 288px; /*размер фона видимой части height: 288px;*/
  background-color: #e5e5e5;
}

.services-wrapper { /* Флекс-контейнер для кнопок ДОСТАВКА ГАРАНТИЯ КРЕДИТ и описания услуг */
  /* position: relative; */
  display: flex;
}

.services-buttons {
  width: 280px;
  min-height: 319px;
  margin-top: -30px;
  /* border: 4px solid gold;   временно */
}

.button-service {
  display: block;
  position: relative;
  z-index: 3;

  width: 160px;
  height: 40px;
  margin-bottom: 32px;

  text-align: center;
  margin-top: 9px;
  padding-top: 7px;
  /* background-image: url("../img/service-button-background.png");
  background-repeat: no-repeat;
  background-position: 50% 50%; */

  /*border: 3px solid green;   временно */
}

.delivery-button::before,
.guarantee-button::before,
.loan-button::before {
  content: " ";
  display: block;
  position: absolute;
  top: 15px;
  z-index: 1;

  width: 160px;
  height: 8px;

  background-color: #f0c52e;
}

.button-service:hover,
.button-service:focus {
  height: 40px;

  background-color: #f0c52e;
}

.button-service:active {
  width: 277px;
  height: 40px;

  color: #f7e184;
  background-image: none;
  background-color: #000000;
}

/* Описание услуг*/

.services-list {  /* <ul> */
  margin-top: -30px;
}

.services-item { /* <li> */
  display: flex; /* чтобы логотипы .delivery::after и тд встали на свое место */
  justify-content: space-between;

  width: 880px;
  /*border: 2px solid blue; временно */
}

.services-item::before { /* черная вертикальная линия */
  content: "";
  position: absolute;
  top: -80px;
  left: -5px;
  display: inline-block;

  width: 0;
  height: 319px;
  margin-left: 0px;

  border-left: 7px solid #000000;
}

.text-wrapper {
  width: 460px;
  min-height: 239px; /*319px-80px*/
  margin-left: 120px;

  /* border: 3px dashed gold; */
}

.services-title { /* ЗАГОЛОВОК "ДОСТАВКА/ГАРАНТИЯ/КРЕДИТ" */
  margin: 0;

  font-family: "Gilroy";
  font-size: 47px;
  line-height: 48px;
}

.services-description { /*ОПИСАНИЕ УСЛУГИ "ДОСТАВКА/ГАРАНТИЯ/КРЕДИТ"*/
  margin-top: 40px;

  color: #464646;
  font-family: "OpenSans light";
  font-size: 15px;
  line-height: 30px;
}

.delivery::after { /*<li class="services-item delivery">*/
  content: "";
  display: inline-block;

  width: 130px;
  height: 160px;
  margin-right: 66px;/*!position: absolut + top/right, margin не нужен*/
  margin-left: auto;

  background: url("../img/icon_delivery.svg") no-repeat;
  background-size: 130px 160px;
  background-repeat: no-repeat;
  border: 2px solid #00FF00; /*временно */
}

.warranty {
  display: none;
}

.warranty::after { /*<li class="services-item warranty">*/
  content: "";
  display: block;

  width: 175px;
  height: 195px;
  margin-right: 47px;
  margin-left: auto;

  background: url("../img/icon_warranty.svg") no-repeat;
  background-size: 130px 160px;
  background-repeat: no-repeat;
  border: 2px solid #00FF00; /*временно */
}

.credit {
  display: none;
}

.credit::after { /*<li class="services-item credit">*/
  content: "";
  display: block;

  width: 155px;
  height: 185px;
  margin-right: 70px;
  margin-left: auto;
  background: url("../img/icon_credit.svg") no-repeat;
  background-size: 155px 185px;
  background-repeat: no-repeat;
  border: 2px solid #00FF00; /*временно */
}

/* <SECTION CLASS="PARTNERS">  - БЛОК С ЛОГОТИПАМИ ПАРТНЕРОВ */

.partners-list {
  display: flex;
  justify-content: space-around; /* пока примерно */


  width: 1160px;
  margin-top: 110px; /*примерно*/
  margin-right: auto;
  margin-left: auto;
}

.partner-link {
  display: block;

  width :260px;
  min-height: 100px;
  margin: 0;
  padding:0;

  /*border: 1px solid grey;  временно */
}


.dji:hover,
.dji:focus {
  background-image: url("../img/index_logo_1_active.png");
}

.sp-adgets:hover,
.sp-adgets:focus {
  background-image: url("../img/index_logo_2_active.png");
}

.gopro:hover,
.gopro:focus {
  background-image: url("../img/index_logo_3_active.png");
}

.vive:hover,
.vive:focus {
  background-image: url("../img/index_logo_4_active.png");
}

/* <SECTION CLASS="WE"> БЛОК "О НАС" И "КОНТАКТЫ" */

.we {
  display: flex;
  justify-content: space-between;

  width: 1160px;
  margin-top: 108px;
  margin-right: auto;
  margin-bottom: 85px; /*примерно - roughly*/
  margin-left: auto;
}

.about-us {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 560px;
  margin-top: 51px;
  /* border: 2px dashed gold; */
}

.we-title {
  font-family: "Gilroy";
  font-size: 47px;
  line-height: 48px;
}

.we-title::before {
  content: "";
  display: block;
  position: absolute;
  top: -52px;

  width: 80px;
  height: 0;
  border-top: 7px solid #000000;

}

.we-details {
  font-family: "OpenSans light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.we-title + .we-details,
.we-details + .we-details {
  padding-bottom: 35px; /*примерно*/
}

.delivery-partner {   /*Примерные значения, точные не могу получить из макета*/
  font-family: "Gilroy";
  font-size: 20px;
  line-height: 40px;
}

.delivery-partner::before {
  content: "";
  display: inline-block;
  margin-right: 25px;
  vertical-align: middle;

  opacity: 0.3;

  width: 8px;
  height: 8px;
  background-image: url("../img/icon_radio-off.svg");
  background-size: 8px 8px;
  background-repeat: no-repeat;
}

.details-button::before {
  content: " ";
  display: block;
  position: absolute;
  top: 15px;
  z-index: 1;

  width: 260px;
  height: 8px;

  background-color: #f0c52e;
}

.details-button {
  position: relative;
  z-index: 3;
  display: block;

  width: 260px;
  height: 40px;
  margin-top: 60px; /*примерно*/
  padding-top: 8px;
/*
  background-image: url("../img/button-details-background.png");
  background-size: 260px 8px;
  background-repeat: repeat-x;
  background-position: center; */
}

.details-button:hover,
.details-button:focus {
  background-color: #f0c52e;
  /* background-size: 260px 40px; */
}

.details-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.contacts {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 560px;
  margin-top: 51px;

  /* border: 2px dashed gold; */
}

/*СТИЛИ ДЛЯ ФУТЕРА*/

.footer {
  min-height: 323px;
  color: #ffffff;
  background-color: #464646;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 1160px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding: 0;

  /* border: 1px solid orange; */
}

.footer-left-box,
.footer-middle-box,
.footer-right-box
 {
  display: flex;
  flex-direction: column;
/*
  border: 1px dashed tomato; */
}

.footer-left-box { /* ЛЕВЫЙ БЛОК В ФУТЕРЕ: ЛОГОТИП, АДРЕС */
  flex-basis: 215px; /*201px; */
  padding-top: 66px;
}

.logo-footer:hover,
.logo-footer:focus {
  opacity: 0.6;
}

.logo-footer:active {
  opacity: 0.3;
}

.our-adress {
  margin-top: 40px;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.yellow-line {
  width: 80px;
  padding: 0;
  margin-top: 85px;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  border-top: 7px solid #ffc600;
}

.footer-middle-box { /* БЛОК ПОСЕРЕДИНЕ ФУТЕРА: ДОСТАВКА..., СОЦ СЕТИ */
  flex-basis: 423px;
  padding-top: 140px;
}

.footer-nav-list {
  display: flex;
  justify-content: space-between;
}

.main-nav-item.footer-nav-item {
  margin: 0;
  padding: 0;
}

.footer-link {
  color: #ffffff;
}

.social-list {
  display: flex;
  justify-content: space-between;

  width: 141px;
  margin-top: 70px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.social-link {
  opacity: 0.5;
}

.social-link:hover,
.social-link:focus {
  opacity: 1;
}

.social-link:active {
  opacity: 0.17;
}

.footer-right-box {
  flex-basis: 325px;
  padding-top: 66px;
}

.footer-nav-list a:hover,
.footer-nav-list a:hover {
  opacity: 0.6;
}

.footer-nav-list a:focus,
.footer-nav-list a:focus  {
  opacity: 0.3;
}


.user-footer::before {
  content: " ";
  display: inline-block;
  width: 13px;
  height: 12px;
  margin-right: 14px;

  background-size: 13px 12px;
  background: url("../img/icon_user_footer.png") no-repeat;
}

.compare-footer::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 12px;
  margin-right: 10px;

  background-size: 10px 12px;
  background: url("../img/icon_compare_footer.png") no-repeat;
}

.cart-footer::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 12px;

  background-size: 12px 12px;
  background: url("../img/icon_cart_footer.png") no-repeat;
}

.our-tel {
  margin-top: 52px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.developer-logo {
  display: block;

  width: 27px;
  height: 35px;
  margin-top: 71px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: auto;

  background: url("../img/icon_logo-html.svg") no-repeat;
}

.developer-logo:hover,
.developer-logo:focus {
  opacity: 0.6;
}

.developer-logo:active {
  opacity: 0.3;
}

/* ПОПАПЫ */

.modal-close {
  display: block;
  position: relative;

  width: 55px;
  height: 55px;
  z-index: 10;

  background-image: url("../img/icon_modal-close.svg") ;
  background-size: 55px 55px;
}

/* ПОПАП С КАРТОЙ */

.map-modal {
  display: block;
  position: fixed;
  bottom: 385px;
  left: 120px;
  z-index: 10;
  display: none;

  width: 960px;
  height: 560px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
/*
  border: 1px solid gold; */
}

.map {
  margin: 0;
  padding: 0;
}

.map-modal > .modal-close {
  position: absolute;
  top: 10px; /* положение кнопки пока примерное */
  left: 870px;
}


/* ПОПАП С ФОРМОЙ ОБРАТНОЙ СВЯЗИ*/

.feedback-modal { /*? 20 окт: как померить параметры тени*/
  position: fixed;
  display: none;
  z-index: : 10;
  bottom: 515px;
  right: 50%;

  width: 962px;
  height: 560px;
  margin-top: 0;
  margin-right: -481px;
  margin-bottom: 0;
  margin-left: auto;

  background-color: #ffffff; /*? 20 Okt почему фон прозрачный*/
  /* border: 1px solid gold; */
}

.feedback-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 5;

  width: 760px;
  min-height: 296px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;

  /* border: 1px solid green; */
  }

.feedback-label {
  color: #000000;
  font-family:  "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.formfield-wrapper {
  width: 360px;
  min-height: 75px;
  /* border: 1px dashed tomato;  временно */
}

.message-wrapper {
  width: 760px;
  min-height: 181px;
  margin-top: 39px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: 0;

  /* border: 1px dashed tomato;  временно */
}

.clients-data,
.clients-message {
  display: block;

  color: #464646;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;

  border: none;
  background-color: #f2f2f2;
  opacity: 0.5;
}

.clients-data:hover,
.clients-data:active,
.clients-message:hover,
.clients-message:active {
  border: none;
  background-color: #f2f2f2;
  opacity: 0.8;
}

.clients-data:active,
.clients-message:active {
  background-color: #ffffff;
  border: 3px solid #f7e296;
}

.feedback-modal .modal-close {
  position: absolute;
  top: 10px;
  right: 20px;/* положение кнопки пока примерное */

}

/*! селектор для невалидных значений :invalid*/

.clients-data {
  width: 360px;
  height: 50px;
}

.clients-message {
  width: 760px;
  height: 156px;
}

.modal-send::before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 1;

  width: 200px;
  height: 8px;
  margin-top: 8px;

  background-color: #f0c52e;
}

.modal-send { /* Для "ОТПРАВИТЬ" */
  /* display: block; */
  position: relative;
  z-index: 11;

  width: 200px;
  height: 40px;
  margin-top: 55px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: 0;
  padding-top: 0px;
  /* vertical-align: top; */
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  background-color: transparent;
  /* background-size: 200px 8px;
  background-image: url("../img/button-send-background.png");
  background-repeat: no-repeat;
  background-position: 50% 50%; */
  border: none;
  text-align: center;
}

.modal-send:hover,
.modal-send:focus {
  background-color: #f0c52e;
}

.modal-send:active {
  opacity: 0.3;
}

/*СТИЛИ ДЛЯ СТРАНИЦЫ КАТАЛОГА*/

/* catalog.html  <header> */

.nav-link-exit {
  font-family: "OpenSans light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;

  color: rgba(0, 0, 0, 0.3);
}

.nav-link-exit:hover,
.nav-link-exit:focus {
  color: rgba(0, 0, 0, 0.7);
}

.nav-link-exit:active {
  color: rgba(0, 0, 0, 1);
}

.products-block {
  display: flex;
  position: relative;
  z-index: 2;
  /* display: none; */

  margin-top: -16px;
  margin-right: auto;
  margin-bottom: auto;
  padding-left: 61px;

  background-color: #f7e296;
}

.products-block > .left {
  width: 200px;
  margin: 0;
  /*border: 1px dashed tomato;  временно */
}

.products-block > .middle {
  width: 160px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: auto;
  margin-left: 40px;
  /*border: 1px dashed tomato;  временно */
}

.products-block > .right {
  width: 160px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: 40px;
/*  border: 1px dashed tomato;  временно */
}

.product-groups-link{
  color: rgba(0, 0, 0, 1);
  font-family: "OpenSans light", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: normal;
  text-transform: none;
}

.product-groups-link:hover,
.product-groups-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.product-groups-link:active {
  color: rgba(0, 0, 0, 0.3);
}

/* catalog.html <main> */
.monopods-h1 {
  position: relative;
  z-index: 3;

  margin-top: 30px; /*пока примерно, потом подгоню*/
  margin-bottom: 30px;/*пока примерно, потом подгоню*/
  padding-left: 61px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs {
  display: flex;
  position: relative;

  margin-bottom: 50px;/*пока примерно, потом подгоню*/
  padding-left: 61px;
}

.breadcrumbs-item {
  display: flex;
}

.breadcrumbs-link {
  display: block; /* в линию так не отображаются  */

  color: rgba(0, 0, 0, 0.3);
  font-family: "OpenSans light", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-link:active {
    color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-item:nth-child(1)::after,
.breadcrumbs-item:nth-child(2)::after {
  content: "";
  display: block;
  position: relative;

  width: 4px;
  height: 7px;
  margin-top: 9px;

  background-size: cover;
  background: url("../img/icon_nav-arrow.svg") no-repeat;
}

.breadcrumbs-item:nth-child(1)::after {
    margin-right: 17px;
    margin-left: 18px;
}

.breadcrumbs-item:nth-child(2)::after {
    margin-right: 19px;
    margin-left: 16px;
}

.page-container {
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* БЛОК С ФИЛЬТРОМ */

.filter {
  display: flex;
  flex-direction: column;

  width: 468px;
  margin-left: auto;
}


.filter-title {
  min-height: 70px;
  margin: 0;
  padding-top: 29px;
  padding-right: 180px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-align: right;
  text-transform: uppercase;

  background-color: #dbdbdb;
}

.filter-form {
  position: relative;
  min-height: 1217px;
  width: 468px;

  background-color: #eeeeee;
  /*border: 1px solid #f1da64;  временно, чобы видеть границы*/
}

.range {
  position: relative;

  width: 201px;
  height: 141px;
  margin-top: 69px;
  margin-right: 68px;
  margin-bottom: auto;
  margin-left: auto;
  padding-top: 16px;

  border-top: 2px solid #000000;
}

.subtitle {
  margin-right: auto;
  margin-left: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.scale {
  z-index: 5;

  width: 207px;
  margin-top: 0;
  margin-right: 68px;
}

.bar-grey {
  position: relative;
  z-index: 6;

  width: 197px;
  height: 2px;
  background-color: #dbdbdb;
}

.bar-green {
  position: relative;
  z-index: 7;

  margin-top: -2px;
  width: 115px;
  height: 2px;
  background-color: #91c92f;
}

.range-min,
.range-max {
  /*спозиционировать кружочки*/
  display: block;
  position: absolute; /*top left*/
  z-index:8;

  width: 20px;
  height: 22px;

  background-image: url("../img/icon_filter-button.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.range-min {
  margin-top: -9px;
  padding: 0;
}

.range-max {
  margin-top: -9px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 115px;
  padding: 0;
}

.range-min-label,
.range-max-label,
.range-min-input,
.range-max-input  {
  display: inline-block;

  font-family: "Gilroy light", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2); /* цвет шрифа не применяется к placeholder*/
}

.range-min-label {
  margin-top: 10px; /* примерно, пока не пойму, как померить*/
  margin-right: 3px;
  margin-bottom: 0;
  margin-left: 0;
}

.range-min-input { /* позиционирование пока не задано*/
  width: 50px;
  margin-right: 0;
}

.range-max-label {
  margin-top: 15px; /* примерно, пока не пойму, как померить*/
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 30px;
}

.range-max-input {
  width: 50px;
  margin-right: 0;
  margin-left: 4px;
  }

.fieldset-container {
  width: 201px;
  margin-right: 68px;
  margin-left: auto;
  padding-top: 16px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  border-top: 2px solid #000000;
}

.filter-fieldset {
  display: block;

  margin: 0;
  padding: 0;

  border: none;
}

.color {
  min-height: 283px;
  margin-bottom: 30px; /* примерно */
}

.color-subtitle {
  padding-top: 16px;
  padding-bottom: 29px;
}

.reset-list {
  position: relative;
}


/*? 20 окт: не понятно, как сделать стили по стайлгайду*/
.color-choice,      /*<label class="color-choice">Черный*/
.bluetooth-choice { /*<label class="bluetooth-choice">  Есть*/
  display: block;
  position: relative;

  padding-left: 40px;

  font-family: "OpenSans light", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  /*  border: 1px dashed tomato;*/
}

.color-choice::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 0;

  width: 23px;
  height: 23px;

  background-size: cover;
  background: url("../img/icon_checkbox-off.svg") no-repeat;
}

.color-choice:active:before { /*? 21окт: так ли получилось, как должно быть*/
  content: "";

  width: 26px;
  height: 23px;
  margin-left: 0px;

  background-size: cover;
  background: url("../img/icon_checkbox-on.svg") no-repeat;
}


.bluetooth {
  min-height: 175px;
}

.bluetooth-subtitle {
  padding-top: 16px;
  padding-bottom: 29px;
}

.bluetooth-choice::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 0;

  width: 25px;
  height: 25px;

  background-size: 25px 25px;
  background: url("../img/icon_radio-off.svg") no-repeat;
}

.bluetooth-choice:active:before {
  background: url("../img/icon_radio-on.svg") no-repeat;
  }

.button-show { /* нужно выровнять желтую полоску фона*/
  display: block;
  position: relative;

  width: 200px;
  height: 40px;
  margin-top: 20px; /*примерно*/
  margin-right: 70px;
  margin-left: auto;

  background-color: transparent;
}

.button-show::before { /*? 20 окт: этой кнопки нет в стайлгайде, нужны ли стили для hover, active*/
  content: " ";
  display: block;
  position: absolute;
  top: 16px;
  left: 0;

  width: 200px;
  height: 8px;

  background-color: #f0c52e;
}

.button-show:hover {
  height: 40px;
  background-color: #f0c52e;
}

/* 2Й БЛОК: СТРАНИЦА КАТАЛОГА */
.catalog-container {
  position: relative;
  display: flex;
  flex-direction: column;


  width: 972px;
  margin-right: auto;
  }

/*
  Секция сортировки по цене-типу-популярности
  (1й flex-элемент блока 2 (страница каталога))
*/

.products-sorting {
  display: flex;
  align-items: baseline;
  min-height: 70px;

  background-color: #ebebeb;
  }

.sorting-title {
  margin-left: 72px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  background-color: #ebebeb;
  }
.sorting-list {
    display: flex;

    margin-right: auto;
    margin-left: 55px;
}

.sorting-item {
  display: block;
}

.sorting-item:nth-child(2) {
  margin-right: 20px;
  margin-left: 20px;
}

.sorting-link {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);

  background-color: transparent;
}

.sorting-link:hover,
.sorting-link:focus {
    color: rgba(0, 0, 0, 0.6);
}

.sorting-link:active {
   color: rgba(0, 0, 0, 1);
}

.arrow-up,
.arrow-down {
  display: inline-block;
  z-index: 300;

  width: 11px;
  height: 10px;
  background-size: cover;

  opacity: 0.2;
  /*color: rgba(0, 0, 0, 0.2);  как изменить цвет cvg-иконки (к чему применить fill)*/
}

.arrow-up {
    background-image: url("../img/icon_up-dir.svg");
}

.arrow-down {
    margin-left: 19px;
    background-image: url("../img/icon_down-dir.svg");
}

.arrow-up:hover,
.arrow-down:hover {
  opacity: 0.4;
}

.arrow-up:active {
  opacity: 1;
}

.catalog {}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 760px;
  /* width:  973px; height: 1220px; */
  margin-top: 70px;
  margin-left: 72px;

  background-color: transparent;
}

.catalog-item {
  position: relative;
  z-index: : 1;
  display: block;

  width: 360px;
  /* min-height: 440px; */
}

.catalog-item-new::before { /*?20 окт: не получается добавить псевдоэлемент NEW*/
  content: " ";
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;

  background-image: url("../img/catalog_new.svg");
  background-size: 60px 60px;
  border: 2px solid #d6d6d6;
  border-radius: 50%;
}

.catalog-img {
  width: 360px;
  height: 380px;
/* ? 20 окт: не могу разобраться, откуда берется расстояние между картинкой и подписью к ней: .catalog-img и .item-description */
  margin: 0;
  padding: 0;
}

.catalog-img:hover {
  opacity: 0.7;
}

.item-description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-top: 0;
  padding-top: 0;
}

.item-link {
  display: block;

  width: 260px;

  color: #000000;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.catalog-price {
  display: block;

  min-width: 90px;

  color: #000000;
  font-family: "Gilroy light", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
}

.item-hover-wrapper {
  position: absolute;
  top: 175px;
  left: 80px;

  width: 200px;
  height: 86px;

  border: 2px dashed tomato;
}

.modal-send.into-the-cart {
  margin: 0;
  padding: 0;
}

.add-to-compare {
  margin-top: 10px; /*примерно*/

  font-family: "OpenSans light", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  line-height: 36px;
  text-align: center;
}

.pagination { /*? 20 окт: не понятно, как сделать стили по стайлгайду*/
  width: 760px;
  height: 70px;

  margin-top: 30px; /* примерно */
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 72px;

  background-color: #ebebeb;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  align-content: center;   /* не выравнивается, vertical-align: middle; тоже не помогает */

  min-height: 70px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.pagination-item {
  display: block;

  margin-top: auto;
  margin-bottom: auto;
}

.pagination-item:first-child {
  margin-left: 28px;
  margin-right: auto;
}

.pagination-item:nth-child(3) {
  margin-left: 28px;
  margin-right: 28px;
}

.pagination-item:last-child {
  margin-left: auto;
  margin-right: 28px;
}

.back-forward  {
  color: rgba(0,0,0, 1);
}
/* .back-forward { } как отформатировать предыдущее и следующее наведение?*/

.nav-page {
  color: rgba(0,0,0, 0.3);
}

.nav-page:hover,
.nav-page:focus {
  color: rgba(0,0,0, 0.6);
}

.nav-page {
  color: rgba(0,0,0, 1);
}



/*ФУТЕР СТРАНИЦЫ КАТАЛОГА: стили совпадают с главной страницей, КРОМЕ ПРАВОГО БЛОКА*/

.catalog-right-box .footer-nav-item:first-child {
  margin-left: -200px; /*примерно*/
}
